﻿body ul.cm_default, body ul.cm_default ul
{
	/* Required settings */
	top:-1000px; 
	left:-1000px; 
	position:absolute; 
	z-index:999; 
	/* Possibly inherited values overrides */
	border-width:0;  
	float:none; 
	height:auto; 
	margin:0; 
	padding:0; 
	width:auto;	
	/* Additional settings */
	border-top:solid 1px #aaa; 
	border-bottom:solid 1px #aaa;
}
body ul.cm_default li
{
	/* Required settings */
	width:132px; 
	list-style:none none outside;
	/* Possibly inherited values overrides */
	float:none; 
	height:auto; 
	letter-spacing:normal; 
	margin:0; 
	border-width:0; 
	line-height:normal; 
	text-align:left; 
	text-decoration:none; 
	text-indent:0; 
	text-transform:none; 
	vertical-align:top; 
	word-spacing:normal;
	font-family:Arial, Sans-Serif; 
	font-size:12px; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal;
	/* Additional settings */
	overflow:hidden; 
	cursor:default; 
	border-left:solid 1px #aaa; 
	border-right:solid 1px #aaa; 
	background: #fff;
	padding: 2px;
}
body ul.cm_default li.separator{
	width:168px; 
	height:1px; 
	background: #fff;
	border-top: solid 1px #ddd;
	padding:0;
}
/* IE 6/7 hack */
body ul.cm_default li.separator{*margin:-1px 0 -5px 0}
body ul.cm_default li.disabled{
	color:#999
}
body ul.cm_default li span.submenu{
	display:block; 
	width:4px; 
	height:11px; 
	float:right; 
	background:url(../img/submenu.gif) no-repeat 0 4px;
}
body ul.cm_default li.disabled span.submenu{
	background:url(../img/submenu_dis.gif) no-repeat;
}
body ul.cm_default li.hover{
	background: #ccc;
}

/* no hover effects on separators*/
body ul.cm_default li.hover.separator{ background: #fff; }

/*icons*/
body ul.cm_default li.icon{
	width:158px; 
	padding:5px
}
body ul.cm_default span.icon{
	display:block; 
	float:left; 
	width:22px; 
	height:16px; 
}
body ul.cm_default span.image{ background:url(../img/icons/image.png) no-repeat; }
body ul.cm_default span.rotate_l{ background:url(../img/icons/rotate_ac.png) no-repeat; }
body ul.cm_default span.rotate_r{ background:url(../img/icons/rotate_c.png) no-repeat; }
body ul.cm_default span.resize{ background:url(../img/icons/resize.png) no-repeat; }
body ul.cm_default span.crop{ background:url(../img/icons/crop.png) no-repeat; }
body ul.cm_default span.rename{ background:url(../img/icons/rename.png) no-repeat; }
body ul.cm_default span.duplicate{ background:url(../img/icons/duplicate.png) no-repeat; }
body ul.cm_default span.delete{ background:url(../img/icons/delete.png) no-repeat; }

